<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           	http://www.springframework.org/schema/context/spring-context-2.5.xsd
           	http://www.springframework.org/schema/tx 
           	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
 	<bean id="personDao" class="cn.itcast.s2sh0909.dao.impl.PersonDaoImpl">
 		<property name="sessionFactory">
 			<ref bean="sessionFactory"/>
 		</property>
 	</bean>
 	
 	<bean id="personService" class="cn.itcast.s2sh0909.service.impl.PersonServiceImpl">
 		<property name="personDao">
 			<ref bean="personDao"/>
 		</property>
 	</bean>
 	
 	<bean id="personAction" class="cn.itcast.s2sh0909.struts2.action.PersonAction" scope="prototype">
 		<property name="personService">
 			<ref bean="personService"/>
 		</property>
 	</bean>
 </beans>