<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhit.mapper.UserMapper">
	<!-- 查询所有会员信息 -->
	<select id="selectAllUser" resultType="m">
		select * from member
		<where>
			<if test="userNo != null">
				userNo=#{userNo}
			</if>
			<if test="userName != null">
				userName=#{userName}
			</if>
		</where>
		<!-- limit 3,4 -->
	</select>

	<!-- 查询所有会员信息 -->
	<select id="selectUserById" parameterType="int" resultType="m">
		select * from member where id=#{id}
	</select>

	<!-- 新增会员 -->
	<!-- 在各种标签中的id属性必须和接口中的方法名相同 ， id属性值必须是唯一的，不能够重复使用。parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型 -->
	<!-- useGeneratedKeys：（ 仅 对 insert 有 用 ） 这 会 告 诉 MyBatis 使 用 JDBC 的getGeneratedKeys 方法来取出由数据（比如：像 MySQL 和 SQLServer 这样的数据库管理系统的自动递增字段）内部生成的主键。默认值： false。 -->
	<!--keyProperty： （仅对 insert有用）标记一个属性， MyBatis 会通过 getGeneratedKeys或者通过 insert 语句的 selectKey 子元素设置它的值。默认：不设置。 -->
	<!--#{}中的内容，为占位符，当参数为某个JavaBean时，表示放置该Bean对象的属性值 -->
	<insert id="insertUser" useGeneratedKeys="true" parameterType="m" keyProperty="id">
		insert into member(userNo,userName,sex,age,userID,telePhone,address,joinDate,userCard)
		values(#{userNo},#{userName},#{sex},#{age},#{userID},#{telePhone},#{address},#{joinDate},#{userCard})
	</insert>

	<!-- 修改会员 -->
	<update id="updateUser" parameterType="m">
		update member set
		userNo=#{userNo},userName=#{userName},sex=#{sex},age=#{age},userID=#{userID},telePhone=#{telePhone},address=#{address},joinDate=#{joinDate},userCard=#{userCard} where id=#{id}
	</update>

	<!-- 根据编号删除会员 -->
	<delete id="delUser" parameterType="int">
		delete from member where id=#{id}
	</delete>

	<!-- Cache 配置 -->
	<cache eviction="FIFO" flushInterval="60000" readOnly="true" size="512" />
</mapper>